*
{
	box-sizing: border-box;
}

html,
body
{
	padding: 0;
	margin: 0;
	background-color: #efefef;
}

.btn
{
	color: #fff;
	background-color: #f79421;
	border-color: #f79421;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
}

.container
{
	width: 1170px;
	max-width: 100%;
	margin: auto;
}

header#hero
{
	width: 100%;
	height: 680px;

	.container
	{
		padding-top: 100px;
	}

	.background,
	.fx-cover
	{
		width: 100%;
		height: 680px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.background
	{
		background: url(../img/background.jpg) center no-repeat;
		background-size: cover;
		text-align: center;
	}

	.btn
	{
		margin: 15px auto;
		display: block;

		&:hover
		{
			color: #fff;
			background-color: #dd7a08;
			border-color: #d37508;
		}
	}

	.logo,
	.info
	{
		margin: auto;
		display: block;
		width: 220px;
	}

	.logo
	{
		&:hover
		{
			animation: shake 100ms linear infinite alternate;
			opacity: .8;
		}
	}

	.fx-cover
	{
		background-image: url(../img/fx.jpg);
		background-size: cover;
		background-position: 0 0;
		pointer-events: none;
		opacity: .15;
		animation: background_move 18s linear infinite;
		z-index: 5;
	}
}

@keyframes shake {
	from {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg)
	}
	to {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg)
	}
}

@keyframes background_move {
	0% {
		background-position: 0% 0;
		opacity: 0
	}
	10% {
		background-position: 10% 0;
		opacity: .15
	}
	100% {
		background-position: 100% 0;
		opacity: 0
	}
}