- var pageTitle = "Voxel Cube Games"
- var site = "Miguel Rivas"
- var fbPreview = "https://miguel-rivas.github.io/img/portfolio.png"
- var icoPath = "https://miguel-rivas.github.io/img/favicon.png"
- var icoBackground = "#222"
- var description = "Header"
- var keyWords = "aguacate, aguacatekun, santo, domingo, republica, dominicana"
- var viewPort = true

doctype html
html
	head
		include jade/metatags
		link(href="css/style.css", rel="stylesheet")
		

	body
		header#hero
			.background
				.container
					img.logo(src="img/logo-event.png", alt="Logo")
					img.info(src="img/info.png", alt="Info")
					button.btn Ver Más Detalles
				.fx-cover

		script(src="js/avoRights.js")
		script(src="js/vendor/jquery-1.11.2.min.js")
		script(src="js/application.js")